
<div *ngIf="location">
    <h2><span jhiTranslate="jhipsterTestsApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterTestsApp.location.streetAddress">Street Address</span></dt>
        <dd>
            <span>{{location.streetAddress}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.location.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{location.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.location.city">City</span></dt>
        <dd>
            <span>{{location.city}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.location.stateProvince">State Province</span></dt>
        <dd>
            <span>{{location.stateProvince}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.location.country">Country</span></dt>
        <dd>
            <span>{{location.country}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
