<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDepartmentLabel" jhiTranslate="jhipsterTestsApp.department.home.createOrEditLabel">Create or edit a Department</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!department.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="department.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterTestsApp.department.departmentName" for="field_departmentName">Department Name</label>
            <input type="text" class="form-control" name="departmentName" id="field_departmentName"
                [(ngModel)]="department.departmentName" required />
            <div [hidden]="!(editForm.controls.departmentName?.dirty && editForm.controls.departmentName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.departmentName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterTestsApp.department.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="department.location"  required>
                <option *ngIf="!editForm.value.location" [ngValue]="null" selected></option>
                <option [ngValue]="locationOption.id === department.location?.id ? department.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
