<div>
    <h2>
        <span jhiTranslate="jhipsterTestsApp.employee.home.title">Employees</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/', { outlets: { popup: ['employee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterTestsApp.employee.home.createLabel">
            Create new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="jhipsterTestsApp.employee.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="jhipsterTestsApp.employee.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="jhipsterTestsApp.employee.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="jhipsterTestsApp.employee.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hireDate"><span jhiTranslate="jhipsterTestsApp.employee.hireDate">Hire Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salary"><span jhiTranslate="jhipsterTestsApp.employee.salary">Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="commissionPct"><span jhiTranslate="jhipsterTestsApp.employee.commissionPct">Commission Pct</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="manager.id"><span jhiTranslate="jhipsterTestsApp.employee.manager">Manager</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="job.jobTitle"><span jhiTranslate="jhipsterTestsApp.employee.job">Job</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="department.departmentName"><span jhiTranslate="jhipsterTestsApp.employee.department">Department</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td><a [routerLink]="['../employee', employee.id ]">{{employee.id}}</a></td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.hireDate | date:'mediumDate'}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.commissionPct}}</td>
                <td>
                    <div *ngIf="employee.manager">
                        <a [routerLink]="['../employee', employee.manager?.id ]" >{{employee.manager?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="employee.job">
                        <a [routerLink]="['../job', employee.job?.id ]" >{{employee.job?.jobTitle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="employee.department">
                        <a [routerLink]="['../department', employee.department?.id ]" >{{employee.department?.departmentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee', employee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="employees && employees.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
