
<div *ngIf="employee">
    <h2><span jhiTranslate="jhipsterTestsApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterTestsApp.employee.firstName">First Name</span></dt>
        <dd>
            <span>{{employee.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.lastName">Last Name</span></dt>
        <dd>
            <span>{{employee.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.email">Email</span></dt>
        <dd>
            <span>{{employee.email}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{employee.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.hireDate">Hire Date</span></dt>
        <dd>
            <span>{{employee.hireDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.salary">Salary</span></dt>
        <dd>
            <span>{{employee.salary}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.commissionPct">Commission Pct</span></dt>
        <dd>
            <span>{{employee.commissionPct}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.manager">Manager</span></dt>
        <dd>
            <div *ngIf="employee.manager">
                <a [routerLink]="['/employee', employee.manager?.id]">{{employee.manager?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.job">Job</span></dt>
        <dd>
            <div *ngIf="employee.job">
                <a [routerLink]="['/job', employee.job?.id]">{{employee.job?.jobTitle}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.employee.department">Department</span></dt>
        <dd>
            <div *ngIf="employee.department">
                <a [routerLink]="['/department', employee.department?.id]">{{employee.department?.departmentName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
