<div>
    <h2>
        <span jhiTranslate="jhipsterTestsApp.jobHistory.home.title">Job Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-history" [routerLink]="['/', { outlets: { popup: ['job-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterTestsApp.jobHistory.home.createLabel">
            Create new Job History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="jhipsterTestsApp.jobHistory.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="jhipsterTestsApp.jobHistory.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="job.id"><span jhiTranslate="jhipsterTestsApp.jobHistory.job">Job</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="department.id"><span jhiTranslate="jhipsterTestsApp.jobHistory.department">Department</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employee.id"><span jhiTranslate="jhipsterTestsApp.jobHistory.employee">Employee</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['../job-history', jobHistory.id ]">{{jobHistory.id}}</a></td>
                <td>{{jobHistory.startDate | date:'mediumDate'}}</td>
                <td>{{jobHistory.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="jobHistory.job">
                        <a [routerLink]="['../job', jobHistory.job?.id ]" >{{jobHistory.job?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.department">
                        <a [routerLink]="['../department', jobHistory.department?.id ]" >{{jobHistory.department?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobHistory.employee">
                        <a [routerLink]="['../employee', jobHistory.employee?.id ]" >{{jobHistory.employee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-history', jobHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-history/'+ jobHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-history/'+ jobHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="jobHistories && jobHistories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
