
<div *ngIf="jobHistory">
    <h2><span jhiTranslate="jhipsterTestsApp.jobHistory.detail.title">Job History</span> {{jobHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterTestsApp.jobHistory.startDate">Start Date</span></dt>
        <dd>
            <span>{{jobHistory.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.jobHistory.endDate">End Date</span></dt>
        <dd>
            <span>{{jobHistory.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.jobHistory.job">Job</span></dt>
        <dd>
            <div *ngIf="jobHistory.job">
                <a [routerLink]="['/job', jobHistory.job?.id]">{{jobHistory.job?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.jobHistory.department">Department</span></dt>
        <dd>
            <div *ngIf="jobHistory.department">
                <a [routerLink]="['/department', jobHistory.department?.id]">{{jobHistory.department?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTestsApp.jobHistory.employee">Employee</span></dt>
        <dd>
            <div *ngIf="jobHistory.employee">
                <a [routerLink]="['/employee', jobHistory.employee?.id]">{{jobHistory.employee?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-history/'+ jobHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
